!!!!! BEGIN cisco_interface_routed_active.j2 !!!!!
 no switchport
 no ip proxy-arp
 no ip redirects
 no ip mask-reply
 no ip directed-broadcast
 no cdp enable
 no shut
!!!!! END cisco_interface_routed_active.j2 !!!!!
