!!!!! BEGIN cisco_login_banner.j2 !!!!!
banner login ^
-------------------------------------------------------------------------
This is a lab created to learn networking.
-------------------------------------------------------------------------

^
!!!!! END cisco_login_banner.j2 !!!!!
